# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: Build

on:
- push

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-2019
        - windows-2022
        - macos-12
        - ubuntu-20.04
        - ubuntu-22.04
        nodejs:
        - 20
      fail-fast: false
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
      with:
        egress-policy: audit

    - name: Turn off auto-crlf
      run: git config --global core.autocrlf false
    - name: Checkout source codes
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Install Node.js
      uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
      with:
        node-version: ${{ matrix.nodejs }}
    - name: Cache NPM
      uses: ./.github/actions/cache-npm
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Exit if differ (forgot to commit dist dir?)
      run: git diff --exit-code --quiet
    - name: Verify
      run: npm run verify
